/* Footer */

footer {
  position: fixed;
  bottom: 0.5rem;
  width: 100%;
  @include Flex(row, center);
  justify-content: space-between;
  .copy {
    color: var(--prim-c);
    padding-left: 2rem;
    font-size: 1.5rem;
  }
  .social {
    padding-right: 2rem;
    a {
      color: $sec-c;
      padding: 0 0.2rem;
      @include transition;
      &:hover {
        @include hover;
      }
      &:first-child:hover {
        color: $insta-c;
      }
      &:nth-child(2):hover {
        color: $face-c;
      }
      &:nth-child(3):hover {
        color: $twit-c;
      }
      &:last-child:hover {
        color: $yt-c;
      }
    }
  }
}
