/* Navigation  */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    li {
      font-size: 2rem;
      padding: 1rem 2rem;
      a {
        color: $prim-c;
        // transition: all 0.5s ease;
        @include transition;
        &:hover {
          @include hover;
          box-shadow: $shadow;
          border: 1px solid rgba($sec-c, 0.25);
          padding: 0.3rem;
          border-radius: 5px;
        }
      }
    }
  }
}

.menu-nav-right {
  // color: $sec-c;
  // color: color($prim-c);
  font-weight: 600;
  @include BG_color($sec-c);
}
