// Color Variables

$prim-c: #fafafa;
$sec-c: #15773e;
// Social Colors
$insta-c: #cc0068;
$face-c: #39579b;
$twit-c: #1da1f2;
$yt-c: #f80000;
// Shadow
$shadow: 0 5px 15px rgba($sec-c, 0.5);
// bg image

$bg-img: url(/SCSS/img/background-img.jpg);
// Responsive
$tablet-L: 1024px;

$tablet: 768px;
$phone: 375px;
